<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Tree</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/leader-line.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
<h1 style="color: #fff;">{{title}}</h1>
<br>
{{ result | safe }}

{{ form_data | safe }}


<script src="/static/js/scripts.js" type="text/javascript"></script>
</body>
</html>